extends layout

block main-content 
  div.main-text
    h1.page-title Get ready for Valentine's Day!
    h2.subtitle Nothing says "I love you" like a Coco's cake &hearts;
  div.img-container
    img.main-img(src="/img/pink-cake.jpg", alt="Pink cake", height="400px")
    //- img.main-img(src="/img/white-cake.jpg", alt="White cake", height="400px")
    //- img.main-img(src="/img/blue-cake.jpg", alt="Blue cake", height="400px")
    //- IMGS ARE ALL SOURCED FROM https://hellococo.ca/birthdaycakes/colours