extends layout

block main-content 
  div.main-text
    h1.page-title Happy Valentine's Day!
    h2.subtitle Nothing says "I love you" like a Coco's cake &hearts; 
    h2.subtitle Browse our cakes today to get your order in for the special day!
  div.img-container
    img.main-img(src="/img/cake2.jpg", alt="Pink cake", height="350px")
    //- img.main-img(src="/img/white-cake.jpg", alt="White cake", height="400px")
    //- img.main-img(src="/img/blue-cake.jpg", alt="Blue cake", height="400px")
    //- IMGS ARE ALL SOURCED FROM https://hellococo.ca/birthdaycakes/colours